@font-face {
	font-family: "Museo Sans";
	src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
		url("../fonts/MuseoSansCyrl-500.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Museo Sans";
	src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"),
		url("../fonts/MuseoSansCyrl-900.woff") format("woff");
	font-weight: 900;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;

	background-color: rgb(255, 255, 255);
	font-family: Museo Sans, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: black;
}


img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
	font-width: 900;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.hide {
	display: none!important;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}


.left-menu {
	height: 50px;
	background-color: transparent;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 50px;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}

.left-menu:hover {
	height: 100%;
	background-color: #00838f;
}

.left-menu.openMenu {
	height: 100%;
	background-color: #00838f;
}


.hamburger {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffc107;
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
	position: relative;
	transform: rotate(0deg);
}

.hamburger.open {
	background-color: #FF637F;
	transition: all ease .5s;
}

.hamburger:hover {
	box-shadow: none;
	transition: all ease .5s;
	transform: rotate(360deg);

}

.hamburger span {
	width: 60%;
	height: 3px;
	background-color: #000;
	display: block;
	border-radius: 1px;
	float: left;
	margin-left: 20%;
	transition: all ease .3s;
}

.hamburger span:nth-child(1) {
	margin-top: 13px;
}

.hamburger span:nth-child(2) {
	margin-top: 3px;
}

.hamburger span:nth-child(3) {
	margin-top: 3px;
}

.open span:nth-child(1) {
	background-color: #fff;
	transform: rotate(45deg);
	transition-timing-function: ease-in-out;
	position: absolute;
	top: 5px;
	right: 8px;
	width: 25px;
	transition: all ease .5s;
	border-radius: 10px;
}

.open span:nth-child(2) {
	background-color: #fff;
	transition-timing-function: ease-in-out;
	margin-top: 18px;
	opacity: 0;
	transition: all ease .5s;
}

.open span:nth-child(3) {
	background-color: #fff;
	transform: rotate(-45deg);
	transition-timing-function: ease-in-out;
	margin-top: 0;
	position: absolute;
	top: 18px;
	right: 8px;
	width: 25px;
	transition: all ease .5s;
	border-radius: 10px;
}

.openMenu {
	width: 250px;
	overflow: hidden;
	transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}

.left-menu__list {
	margin-top: 70px;
	list-style: none;
	padding: 0;
}

.left-menu__list li {
	width: 250px;
	/* height: 40px; */
	line-height: 40px;
	color: #fff;
	/* padding : 5px; */
	font-size: 13px;
}

.left-menu__list li:hover {
	background-color: #00bcd6;
	transition: all ease .5s;
	cursor: pointer;

}

.left-menu__list li a {
	text-decoration: none;
	color: #fff;
}

.left-menu__list li a svg {
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 0;
}

.left-menu__list li a span {
	text-decoration: none;
	color: #fff;
	width: 100%;
}

.dropdown-list li a span {
	padding-left: 30px;
}

.left-menu__list i.fa {
	font-size: 25px;
	padding: 10px;
	width: 50px;
	text-align: center;
}

.left-menu__list li ul li {
	padding: 0;
	line-height: 30px;
	transition: all .4s;
	box-sizing: border-box;
}


.left-menu__list li ul li:hover {
	background: #4DD0E1;
	transition: all .4s;

}

.left-menu__list li ul li ul li {
	padding: 5px;
	background: #B2EBF2;
}

.left-menu__list li ul li ul li a span {
	color: #00838f;
}

.left-menu__list li ul li ul li:hover {
	background: #B2EBF2;
}

.dropdown {
	color: #fff;
	text-decoration: none;
	margin-bottom: 5px;
	display: block;
	position: relative;
}

.active+.dropdown-list {
	width: 100%;
	height: auto;
	line-height: 30px;
	padding: 0;
	margin-left: 0;
	background: #4DD0E1;

}

.hide+.dropdown-list {
	height: 0;
}

.active+.dropdown-list:hover {
	background: #00bcd6;
}

.dropdown-list {
	width: 0;
	height: 0;
	overflow: hidden;
}

.dropdown:before {
	font-family: FontAwesome;
	content: "\f105";
	transition: all .4s;
	padding-right: 5px;
	right: 20px;
	position: absolute;
	top: 4px;
}

.dropdown.active:before {
	font-family: FontAwesome;
	content: '\f107';
	transition: all .4s;
	padding-right: 5px;

}

.left-menu:not(.openMenu) li>.dropdown-list {
	pointer-events: none;
	height: 0;
}





h1 {
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
}

main {
	margin-top: 60px;
}

.search__form-block {
	border-radius: 5px
}

.search__form-head {
	font-size: 20px;
	font-weight: 700;
}

.search__form-input {
	width: 100%;
	border-style: none;
}

.tv-shows__head {
	margin: 15px 0;
}

.tv-shows__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tv-shows__item {
	flex-basis: 25%;
	margin-bottom: 30px;

}

.tv-card {
	position: relative;
	max-width: 205px;
	min-height: 370px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 3px 20px 1px rgba(200, 200, 200, .75);
}

.tv-card__head {
	padding: 15px 15px 0;
	max-height: 80px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 900;
}



.tv-card__vote {
	position: absolute;
	top: 18px;
	left: 1px;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF637D;
	height: 25px;
	width: 44px;
	display: inline-block;
	line-height: 25px;
	font-weight: 900;
}

.modal {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(200, 200, 200, .75);
	z-index: 999;
}

.modal__content {
	max-width: 800px;
	background-color: #00838f;
	padding: 30px;
	color: #fff;
}

.modal__description {
	margin-left: 15px;
}

.modal__description section {
	margin-top: 15px;
}

.modal__link {
	font-size: 12px;
	text-align: center;
	color: #ffc107;
}

.modal__link:hover {
	color: #FF637F;
}

.original__header {
	display: flex;
	flex-wrap: nowrap;
}

.image__content {
	width: 185px;
	height: 278px;
}

@media (max-width: 555px) {
	.left-menu {
		height: 50px;
	}

	.left-menu:hover {
		height: 50px;
	}

	.left-menu.openMenu {
		height: 100%;
	}
}